{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col1">
        <div class="detail-card">
            <div class="img-wrapper">
                <img class="album-img" src="{{ album.img }}" alt="{{ album.name }}">
            </div>
            <div class="album-info">
                <h4 class="album-name">{{ album.name }}</h4>
                <p class="album-artist">{{ album.artist }}</p>
                <p class="album-genre">{{ album.genre }}</p>
                <p class="album-des">{{ album.discription }}</p>
            </div>
            <div class="album-action">
                <a href="{% url 'albums_update' album.id %}"><button class="action-btn-dark">Update</button></a>
                <a href="{% url 'albums_delete' album.id %}"><button class="action-btn-dark">Delete</button></a>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="row-1">
            <div class="detail-devices">
                <span class="detail-devices-title">Listening On</span>
                {% for device in album.devices.all %}
                <span class="detail-device-btn">{{ device.img }}</span>
                {% endfor %}
            </div>
            <div class="avalible-devices">
                {% for device in devices.all %}
                <div class="card-action">
                    <form action="{% url 'assoc_device' album.id device.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="device-btn">{{ device.img }}</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row-2">
            <div class="form-wrapper">
                <form action="{% url 'add_listening' album.id %}" method="post" class="listening-form">
                    {% csrf_token %} {{ listening_form.as_p }}
                    <button class="index-a">
                        <input type="submit" class="detail-add-btn" value="+"/>
                    </button>
                </form>
            </div>
            <div class="table-wrapper">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Mood</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listening in album.listening_set.all %}
                        <tr>
                            <td>{{ listening.date }}</td>
                            <td class="mood-display">{{ listening.get_mood_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var selectEl = document.getElementById('id_mood');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}