{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="index-wrapper">
    <h4>Albums</h4>

    {% for album in albums %}
    <div class="album-card">
        <!-- add this single line below -->
        <a href="{% url 'detail' album.id %}">
            <div class="card-content">
                <div class="index-imgwrapper">
                    <img src="{{ album.img }}" alt="{{ album.name }}" class="index-img"/>
                </div>
                <div class="index-discription">
                    <p class="index-name">{{ album.name }}</p>
                    <p class="index-artist">{{ album.artist }}</p>
                    <p class="index-genre">{{ album.genre }}</p>
                </div>
            </div>
        <!-- and this following one as well -->
        </a>
    </div>
    {% endfor %} 
</div>
{% endblock %}