{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="index-wrapper">
    <div class="title-wrapper">
        <h4 class="index-title">Albums</h4>
        <a href="{% url 'albums_create' %}" class="index-a">
            <div class="index-add-btn">+</div>
        </a>
    </div>
    {% for album in albums %}
    <div class="album-card">
        <a href="{% url 'detail' album.id %}">
            <div class="card-content">
                <div class="index-imgwrapper">
                    <img src="{{ album.img }}" alt="{{ album.name }}" class="index-img"/>
                </div>
                <div class="index-discription">
                    <p class="index-name">{{ album.name }}</p>
                    <p class="index-artist">{{ album.artist }}</p>
                    <p class="index-genre">{{ album.genre }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %} 
</div>
{% endblock %}