{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUE WORLDWIDE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7da09f600b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    

</head>

<body>

    <header class="header">
        <section>
            <div class="head-wrapper" id="head">
                <ul class="head-left">
                    <li>
                        <a href="/">
                            {% include 'cue.html' %}
                        </a>
                    </li>
                </ul>
                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="head-right">
                    <li class="navLinks"><a href="{% url 'about' %}" class="about">About</a></li>
                    <li class="navLinks"><a href="{% url 'contact' %}" class="contact">Contact</a></li>
                        {% if user.is_authenticated %}
                    <li class="navLinks"><a href="{% url 'index' %}" class="music">Music</a></li>
                    <li class="navLinks"><a href="{% url 'devices_index' %}">Devices</a></li>
                    <li class="navLinks"><a href="{% url 'logout' %}" class="logout">Log Out</a></li>
                        {% else %}
                    <li class="navLinks"><a href="{% url 'login' %}" class="login">Log In</a></li>
                    <li class="navLinks"><a href="{% url 'signup' %}" class="signup">Sign Up</a></li>
                        {% endif %}
                </ul>
            </div>
        </section>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div><a href="/" class="foot-logo">{% include 'cue.html' %}</a></div>
        <div class="foot-links">
            <p><a href="{% url 'about' %}">About</a></p>
            <p><a href="{% url 'contact' %}">Contact</a></p>
        </div>
        <div class="foot-terms">
            <p>Privacy Policy</p>
            <p>Terms & Conditions</p>
            <p>Services</p>
        </div>
        <div class="socal">
            <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
            <a href="#"><i class="fa-solid fa-square-phone"></i></a>
        </div>
        <div class="copyright">
            All Rights Reserved, &copy; 2022 Cue Music App
        </div>
    </footer>

<script>
    const hamburger = document.querySelector('.hamburger');
    const navList = document.querySelector('.head-right');
    const links = document.querySelectorAll('.head-right li');
    const nav = document.querySelector('#head');
    let userScrollY = window.scrollY;

    window.addEventListener('scroll', () => {
    if (userScrollY < window.scrollY) {
        nav.classList.add("navHidden");
    } else {
        nav.classList.remove("navHidden");
    }
    userScrollY = window.scrollY;
});

    hamburger.addEventListener('click', () => {
    navList.classList.toggle('open');
    links.forEach(link => {
        link.classList.toggle('fade');
    })
});
</script>
</body>

</html>