* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 9rem;
    padding-bottom: 9rem;
}


/* ======================== Nav =============================== */

.head-wrapper {
    position: fixed;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    top: 0;
    z-index: 1;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.head-wrapper a {
    color: #000;
    cursor: pointer;
}

.head-left {
    margin-left: 3rem;
}

.head-right {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.navLinks {
    margin-right: 1rem;
    font-size: 16px;
}

.navHidden {
    transform: translateY(-100px);
}

/* =======================index================================ */

.album-card {
    width: 700px;
    height: 190px;
    background-color: #252525;
    padding: 10px;
    border-radius: 8px;
}

.album-card > a{
    color: #f9f9f9;
    text-decoration: none;
}

.card-content {
    display: flex;
}

.index-img {
    width: 170px;
    margin-right: 20px;
    border-radius: 5px;
}

.index-name {
    font-size: 26px;
    
}

/* ==============================Buttons===================== */

.action-btn {
    width: 80px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #252525;
    color: #f9f9f9;
    transition: all 0.2s ease-in-out;
}

.action-btn > a {
    text-decoration: none;
    color: #f9f9f9;
}

.action-btn:hover {
    transition: all 0.2s ease-in-out;
    background-color: #0092f3;
    color: #f9f9f9;
}

.action-btn > a:hover {
    color: #252525;
}

.action-btn-dark {
    width: 80px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: #f9f9f9;
    color: #252525;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.action-btn-dark > a {
    text-decoration: none;
    color: #252525;
}

.action-btn-dark:hover {
    transition: all 0.2s ease-in-out;
    background-color: #0092f3;
    color: #f9f9f9;
}


/* ==============================Albums Detail=================== */

.row {
    display: flex;
    background-color: #252525;
    width: 610px;
    padding: 15px;
    border-radius: 8px;
}

.col1 {
    margin-right: 20px;
    color: #f9f9f9;
    padding-right: 20px;
    border-right: 2px solid #d0c8b5;
}

.album-img {
    width: 300px;
    border-radius: 5px;
}

.album-name {
    margin: 10px 0;
}

.album-des {
    width: 280px;
    margin: 10px 0px;
    color: #d0c8b5;
}

.detail-devices-title {
    color: #f9f9f9;
}

label {
    color: #f9f9f9;
}

lable, .active {
    color: #f9f9f9;
}

.listening-form {
    margin-top: 40px;
}

.striped {
    color: #f9f9f9;
}

td {
    padding: 10px;
}

.table-wrapper {
    height: 260px;
    overflow: scroll;
    margin-top: 20px;
}

.datepicker-date-display {
    background-color: #0092f3;
}

.datepicker-day-button {
    /* background-color: #0092f3; */
}

.datepicker-cancel, .datepicker-done {
    color: #0092f3;
}

.select-dropdown {
    color: #f9f9f9;
}

input.select-dropdown.dropdown-trigger {
    z-index: 0;
}

.dropdown-content, li {
    color: #0092f3;
}

#id_date {
    color: #f9f9f9;
}

.add-album-form {
    background-color: #252525;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: 450px;
}

#id_name {

}

/* ====================== footer ============================ */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 250px;
    background-color: yellow;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.foot-links {
    display: flex;
}

.foot-links p {
    margin: 5px;
    font-size: 16px;
}

.foot-terms {
    display: flex;
}

.foot-terms p {
    margin: 5px;
}

.copyright {
    margin: 5px;
}

/* ======================== Medias =========================== */

@media screen and (min-width: 1200px){
    .add-album-form {
        background-color: #252525;
        border-radius: 8px;
        padding: 20px;
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 4px;
        background: #000;
        margin: 5px;
        border-radius: 10px;
        position: relative;
    }

    .head-left {
        z-index: 999;
    }

    .hamburger {
        cursor: pointer;
        position: absolute;
        right: 5%;
        z-index: 999;
    }

    .head-right {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 100vw;
        height: 1000px;
        top: 0;
        z-index: 998;
        background-color: lightpink;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
    }
    
    .navLinks {
        position: relative;
        bottom: 50px;
        font-size: 26px;
        margin: 40px;
    }

    .head-right.open {
        transform: translateX(0%);
    }

    .head-right li {
        opacity: 0;
    }

    .head-right li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .head-right li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .head-right li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .head-right li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .head-right li:nth-child(5) {
        transition: all 0.5s ease 1s;
    }

    li.fade {
        opacity: 1;
    }
}