* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
    background: url("../../static/imgs/background1.png") 0% 0% no-repeat fixed;
    background-size: cover;
    background-color: rgb(255, 182, 243);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head-wrapper, .container, .footer {
    flex-shrink: 0;
}

.container {
    grid-area: main;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 9rem 0;
}


/* ======================== Nav =============================== */

.head-wrapper {
    grid-area: header;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    top: 0;
    z-index: 1;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.head-wrapper a {
    color: #000;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.head-left {
    margin-left: 2rem;
}

.logo {
    width: 100px;
}

.head-right {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.navLinks {
    margin-right: 1rem;
    font-size: 16px;
}

.navHidden {
    transform: translateY(-100px);
}

.navLinks:hover {
    transform: scale(1.1, 1.1);
}

/* ======================== HOME ============================= */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.home-header {
    font-size: 64px;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
}

.home-subtitle {
    font-size: 16px;
    margin: 5px 0 20px 0;
    font-family: 'Poppins', sans-serif;
}

.home-btn {
    width: 115px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.home-btn:hover {
    background-color: #0092f3;
    color: #f9f9f9;
    transition: all 0.2s ease-in-out;
}

/* =====================Contact================================ */

.contact-form {
    width: 350px;
    height: 420px;
    background-color: #252525;
    border-radius: 8px;
    color: #f9f9f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header {
    font-size: 60px;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    margin-bottom: 40px;
}

.name-section, .email-section, .comment-section {
    width: 90%;
}

.name-input, .email-input, .comment-input {
    color: #f9f9f9;
}

/* ======================= Login ============================== */

#id_username, #id_password, #id_password1, #id_password2 {
    color: #f9f9f9;
}


/* ======================Signup =============================== */

.signup-form {
    width: 550px;
    height: 580px;
    background-color: #252525;
    border-radius: 8px;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.signup-inputs {
    text-align: left;
}

/* =======================index================================ */

.index-wrapper {
    width: 700px;
    padding: 20px;
    background-color: #252525;
    border-radius: 8px;
}

.index-title {
    color: #f9f9f9;
    font-weight: 600;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-a {
    color: #f9f9f9;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #42413e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    white-space: nowrap;
    border: none;
    outline: none;
}

.index-a:hover {
    filter: brightness(1.5);
}

.index-add-btn {
    font-size: 40px;
    position: relative;
    bottom: 2px;
}

.album-card {
    width: 660px;
    height: 190px;
    background-color: #42413e;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.album-card > a{
    color: #f9f9f9;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.card-content {
    display: flex;
}

.index-img {
    width: 170px;
    margin-right: 20px;
    border-radius: 5px;
}

.index-name {
    font-size: 26px;
}

/* =========================== Device Index ================= */

.index-device-img {
    height: 100px;
    margin-right: 20px;
}

.device-index-name {
    font-size: 26px;
    color: #f9f9f9;
    margin-right: 20px;
}

.divice-card {
    display: flex;
    width: 660px;
    height: 120px;
    background-color: #42413e;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.divice-card-content {
    display: flex;
    align-items: center;
    width: 640px;
}

.divice-card, a {
    color: #f9f9f9;
}

.divice-index-name {
    font-size: 26px;
}

.device-action {
    display: flex;
}

/* =========================== Device Detail ================= */

.device-action {
}

/* ==============================Buttons===================== */

.action-btn {
    width: 80px;
    height: 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #252525;
    color: #f9f9f9;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.action-btn > a {
    text-decoration: none;
    color: #f9f9f9;
}

.action-btn:hover {
    transition: all 0.2s ease-in-out;
    background-color: #0092f3;
    color: #f9f9f9;
}

.action-btn > a:hover {
    color: #252525;
}

.action-btn-dark {
    width: 80px;
    height: 30px;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: #f9f9f9;
    color: #252525;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.action-btn-dark > a {
    text-decoration: none;
    color: #252525;
}

.action-btn-dark:hover {
    transition: all 0.2s ease-in-out;
    background-color: #0092f3;
    color: #f9f9f9;
}


/* ==============================Albums Detail=================== */

.row {
    display: flex;
    background-color: #252525;
    width: 610px;
    padding: 15px;
    border-radius: 8px;
}

.col1 {
    margin-right: 20px;
    color: #f9f9f9;
    padding-right: 20px;
    border-right: 2px solid #d0c8b5;
    font-family: 'Poppins', sans-serif;
}


.album-img {
    width: 300px;
    border-radius: 5px;
}

.album-name {
    font-size: 20px;
    margin: 10px 0 0 0;
}

.album-artist {
    font-size: 16px;
}

.album-genre {
    font-size: 14px;
}

.album-des {
    width: 280px;
    height: 105px;
    overflow: scroll;
    margin: 10px 0px;
    color: #d0c8b5;
}

.detail-add-btn {
    font-size: 40px;
    color: #f9f9f9;
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    bottom: 4px;
    cursor: pointer;
}

.detail-devices-title {
    color: #f9f9f9;
}

label {
    color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

lable, .active {
    color: #f9f9f9;
    font-size: 14px;
}

.listening-form {
    margin-top: 20px;
}

.striped {
    color: #f9f9f9;
}

td {
    padding: 10px;
}

.table-wrapper {
    height: 260px;
    overflow: scroll;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.datepicker-date-display {
    background-color: #0092f3;
}

.datepicker-day-button {
    /* background-color: #0092f3; */
}

.datepicker-cancel, .datepicker-done {
    color: #0092f3;
}

.select-dropdown {
    color: #f9f9f9;
}

input.select-dropdown.dropdown-trigger {
    z-index: 0;
}

.dropdown-content, li {
    color: #0092f3;
}

#id_date {
    color: #f9f9f9;
}

.add-album-form {
    background-color: #252525;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: 450px;
    font-family: 'Poppins', sans-serif;
}

#id_name {
    color: #f9f9f9;
}

#id_img {
    color: #f9f9f9;
}

#id_artist {
    color: #f9f9f9;
}

#id_genre {
    color: #f9f9f9;
}

#id_discription {
    color: #f9f9f9;
}

.detail-devices-title {
    margin-right: 10px;
}

.detail-device-btn {
    height: 18px;
}

.detail-device {
    height: 18px;
    margin-right: 10px;
}

.device-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #42413e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    white-space: nowrap;
    border: none;
    outline: none;
    margin-right: 10px;
}

.detail-devices {
    display: flex;
    align-items: center;
}

.avalible-devices {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.device-btn:hover {
    filter: brightness(1.5);
}

/* ====================== footer ============================ */

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 250px;
    background-color: yellow;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.foot-links {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.foot-links p {
    margin: 5px;
    font-size: 16px;
}

.foot-terms {
    display: flex;
}

.foot-terms p {
    margin: 5px;
}

.copyright {
    margin: 5px;
}

/* ======================== Medias =========================== */

@media screen and (min-width: 1200px){
    .add-album-form {
        background-color: #252525;
        border-radius: 8px;
        padding: 20px;
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 4px;
        background: #000;
        margin: 5px;
        border-radius: 10px;
        position: relative;
    }

    .head-left {
        z-index: 999;
    }

    .hamburger {
        cursor: pointer;
        position: absolute;
        right: 5%;
        z-index: 999;
    }

    .head-right {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 100vw;
        height: 1000px;
        top: 0;
        z-index: 998;
        background-color: rgb(255, 182, 243);
        transform: translateX(100%);
        transition: all .5s ease-in-out;
    }
    
    .navLinks {
        position: relative;
        bottom: 50px;
        font-size: 26px;
        margin: 40px;
    }

    .head-right.open {
        transform: translateX(0%);
    }

    .head-right li {
        opacity: 0;
    }

    .head-right li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .head-right li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .head-right li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .head-right li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .head-right li:nth-child(5) {
        transition: all 0.5s ease 1s;
    }

    li.fade {
        opacity: 1;
    }

    .row {
        width: 610px;
    }

    .index-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }

    .album-card {
        width: 80vw;
    }

    .divice-card {
        width: 80vw;
    }

    .divice-card-content {
        width: 80vw;
    }

    .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
    }
}

@media screen and (max-width: 650px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }

    .col1 {
        border-right: none;
        border-bottom: 2px solid #d0c8b5;
        width: 80vw;
        margin: 0 0 40px 0;
        padding: 0;
    }

    .album-img {
        width: 80vw;
    }

    .img-wrapper {
        width: 80vw;
    }

    .album-des {
        width: 80vw;
        height: 60px;
    }

    .album-action {
        margin-bottom: 20px;
    }

    .col2 {
        width: 80vw;
    }

    .signup-form {
        width: 90vw;
        height: 100vh;
    }
}

@media screen and (max-width: 480px) {
    .album-card {
        height: 55vh;
    }

    .card-content {
        display: flex;
        flex-direction: column;
    }

    .index-img {
        width: 75vw;
    }

    .helptext {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }

    .signup-form {
        padding: 20px;
    }
}

@media screen and (max-width: 340px) {
    .album-card {
        height: 45vh;
    }

    .divice-index-name {
        font-size: 16px;
    }
}